<div class="container contact-form">
  <div class="well well-lg">
    <h3>Contact Us</h3>
    <%= form_for @contact, url: contacts_path do |f|%>
      <div class="form-group">
        <%= f.label :message %>
        <%= f.text_field :message, class: "form-control" %>
      </div>
      <%= f.submit "Contact Us",class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
<!--
<form action="/contact" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="YpGmwUucMCNTbG71eVo3WHMkdqFwI/YtGgIm/xO9bvgC0lHj8i2RXc6spa45WECPF+AbDHRrBeLcqLCE6ODDHw==">
  <input type="submit" name="commit" value="Contact Us">
</form> -->
