<div class="container contact-form">
  <div class="well well-lg">
        <h3>Thank you for contacting us</h3>
        <h4>Your Info:</h4>
        <p>name: <%= @contact.name %></p>
        <p>email: <%= @contact.email %></p>
  </div>
</div>
