<div class="container about-form">
  <div class="well well-lg">
    <p>
      you’re coding apps with purpose. Building websites that stand up to bullies.
      Designing video games that connect generations. Producing films that may just
      spark a movement. You recognized that one single event can ignite a revolution…that
      one simple invention can change the game. You are an innovator. A problem-solver.
      And people like you—the ones who think they will do something BIG—are the ones
      who will. It’s our mission to spark your internalDrive.
    </p>
  </div>
</div>
